//Typography

$base-font-size: 18px;
$base-line-height: 24px;

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';
@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700';

$base-font-header:"Montserrat";
$base-font-paragraph: "Open Sans";

//Colors

$red: #700409;
$gray: #dedede;
$gray2: #f0efef;
$black: #1c1d23;
$black2: #272932;
$black3: #343e47;
$white: #FFFFFF;
